
html, body{
  height: 100%;
}

body{
  background:url(./Data/Surface.jpg) bottom center no-repeat;
  background-size: cover;
}



h1 {
	color:#104E8B; 
	font: Helvetica;
	font-size: 26px;
	font-weight: lighter;
}


h2 {
	color:#104E8B; 
	font: Helvetica;
	font-size: 20px;
	font-weight: lighter;
	text-align:right;
}

p {
  color: #262626;
  text-align: left;
}
