
html, body{
  height: 100%;
}

body{
  background:url(./Data/Surface.jpg) bottom center no-repeat;
  background-size: cover;
  margin: 0px;
}



h1 {
	color:#00F5FF; 
	font: Helvetica;
	font-size: 26px;
	font-weight: lighter;
	text-align:center
}


h2 {
	color:#F8F8FF; 
	font: Helvetica;
	font-size: 16px;
	font-weight: lighter;
	text-align:right;
}
	nav{ 
        width: 100%;  
        height: 60px;     
        background: rgba(0,0,0,.3);  
        position: absolute;  
        z-index: 100;  
    }  
    nav ul{
        font: Helvetica;  
        list-style: none;  
        margin: 0;  
        padding: 0;  
    }  
    nav ul li{ 
        font: Helvetica; 
        text-align: center;  
        float: left;  
        line-height: 60px;  
    }  
    nav ul li a{ 
        font: Helvetica;
        width: 120px;  
        color: #fff;  
        font-size: 12px;  
        font-weight: 600;  
        display: block;  
    }  

p {
  color: black;
  text-align: center;
}

.intro{
        font:Helvetica;
        font-size: 16px;
        font-weight: lighter;
        color:#FFFFF0;  
        letter-spacing: 2px;  
        position: absolute;  
        top:30%;  
        left: 20%;
        right:20%;
        z-index:20;
        background:#404040; 
        opacity: 0.8;
      }  

